:root{
    font-family: 'Open Sans', sans-serif;
    --bg-color: rgb(220, 220, 220);
    --form-header-font-color: black;
    --form-labels-color: rgb(128, 128, 128);
    --form-buttons-color: #033C50;
    --txt-hover-bg-color: white;
    --cta-section-bg-color: #29526d;
    --backdrop-section-bg-color: #4683AB;
    --max-width: 1100px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    font-size: 1rem;
}
header{
    padding: 20px;
    width: 100%;
    background-color: var(--bg-color);
}
.header-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.form-section{
    background-image: url(../imagens/bg-form.jpg);
    background-size: cover;
    padding: 60px 0 100px 0;
}
form{
    color: var(--form-labels-color);
    font-size: 1.4rem;
    font-weight: lighter;
    width: 400px;
    background-color: white;
    margin: 0 auto;
}
.form-section form header h1{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--form-header-font-color);

}
.form-group{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.form-group input[type= "text"],
.form-group input[type= "email"],
.form-group input[type= "tel"]{
    padding: 30px 20px;
    height: 40px;
    border: 1px, solid, var(--bg-color);
    border-radius: 4px;
    font-size: 1.2rem;
}
.form-section form fieldset{
    border: 0;
}
.form-section form footer{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px
}
.form-section form footer button{
    padding: 10px;
    font-size: 1.5rem;
    background-color: var(--form-buttons-color);
    color: var(--txt-hover-bg-color);
}
.form-section form footer button:hover{
    transition: 0.7s;
    background-color: var(--txt-hover-bg-color);
    color: var(--form-buttons-color);
    cursor: pointer;
}
.cta-section{
    background-color: var(--cta-section-bg-color);
    color: var(--txt-hover-bg-color);
    padding: 40px 20px 20px 20px;
    text-align: center;
    position: relative;
}
.cta-section-center{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.cta-section img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cta-section h2{
    font-weight: 400;
}
.backdrop-section{
    background-color: var(--backdrop-section-bg-color);
    color: var(--txt-hover-bg-color);
    font-weight: 400;
    text-align: justify;
}
.backdrop-section-center{
    display: flex;
    flex-direction: column;
}
.backdrop-group{
    display: flex;
    flex-direction: column;
}
.backdrop-group p{
    padding: 60px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    padding: 20px;
}
footer img{
    max-width: 150px;
}

@media screen and (min-width: 768px) {
    .header-center{
        flex-direction: row;
        justify-content: space-between;
        max-width: var(--max-width);
        margin: 0 auto;
    }
    .cta-section-center{
        max-width: var(--max-width);
        margin: 0 auto;
    }
    .backdrop-section-center{
        max-width: var(--max-width);
        margin: 0 auto;
    }
}
@media screen and (min-width: 1024px) {
    .cta-section{
        padding: 40px 0 20px 0;
        text-align: justify;
    }
    .cta-section-center h2{
        text-align: center;
    }
    .backdrop-group{
        flex-direction: row;
    }
    .backdrop-group img {
        width: 60%;
        aspect-ratio: 16/9;
    }
    .backdrop-group:nth-child(even){
        flex-direction: row-reverse;
    }
}